

.purchase-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.purchase-info-title {
  font-size: 16px;
  font-weight: bold;
  text-align: right;
}

.sc-placement-option {
  border: 1px solid black;
  border-radius: 2px;
}

.purchase-info-item {
  text-align: right;
}

.purchase-info-amount {
  padding-top: 6px;
}

.purchase-add-another {
  color: #5C196B;
  font-weight: bold;
  padding-top: 6px;
}
.purchase-add-another:hover {
  color: #4C095B;
  cursor: pointer;
}

.purchase-subtotal {
  text-align: right;
  margin-right: 6px;
}

.purchase-remove-item {
  /* color: red; */
  font-weight: bold;
  padding-top: 8px;
}

.purchase-remove-item:hover {
  cursor: pointer;
}

.purchase-input-quantity {
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: none;
  font-size: 16px;
  padding: 8px 10px;
  outline: none;
  width: 90%;
}

.purchase-input-quantity:focus {
  border: 1px solid #5C196B;
}

.purchase-subtotal-container {
  border: 1px solid black;
  border-radius: 2px;
  padding: 0px 4px;
}

.purchase-subtotal-title {
  padding-top: 8px;
}

.purchase-loader {
  display: inline-block;
  width: 64px;
  height: 64px;
}
.purchase-loader:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: purchase-loader 1.2s linear infinite;
}
@keyframes purchase-loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
