.about-content {
  margin-left: 20%;
  margin-right: 20%;
  text-align: left;
  width: 60%;
}

.about-header {
  font-size: 2em;
  text-align: left;
}

.about-svg {
  fill: none;
  stroke: rgb(158, 198, 184) !important;
  stroke-width: 1px;
  margin: 0;
  position: fixed;
  left: 20%;
  top: 20%;
  z-index: -1;
}
