.checkout-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.checkout-back-button {
  color: #5C196B;
  font-size: 14px;
  position: absolute;
  top: 12px;
  left: 20px;
}

.checkout-back-button:hover {
  cursor: pointer;
}

.checkout-section-title {
  font-size: 18px;
  margin-bottom: 4px;
}

.checkout-input-field {
  border: 1px solid transparent;
  border-radius: 2px;
  box-shadow: none;
  font-size: 14px;
  padding: 6px 10px;
  outline: none;
  width: 90%;
}

.checkout-input-field:focus {
  border: 1px solid #5C196B;
}

.checkout-input-item {
  margin-top: 10px;
}

.checkout-item-label {
  font-size: 14px;
}

.checkout-section {
  margin-top: 10px;
}

.checkout-back-button-icon {
  font-size: 42px;
  vertical-align: sub;
}

.checkout-different-billing-toggle-text {
  display: inline-block;
  font-size: 14px;
  margin-left: 4px;
}

.checkout-prices {
  border-radius: 3px;
  border: 1px solid #FFDA8E;
  padding: 6px;
}

.checkout-loader {
  display: inline-block;
  width: 64px;
  height: 64px;
}
.checkout-loader:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: checkout-loader 1.2s linear infinite;
}
@keyframes checkout-loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.checkout-info-label {
  text-align: left;
  margin-top: 0 !important;
}

.checkout-info-item {
  text-align: right;
  margin-top: 0 !important;
}

.checkout-total {
  font-weight: bold;
  text-align: left;
}

.checkout-total-item {
  font-weight: bold;
  text-align: right;
}

.checkout-button-container {
  margin-top: 24px;
  text-align: center;
}


