.header {
  background-color: #282c34;
  margin: 0;
  text-align: left;
}

.header-title {
  color: #f5f5f5;
  font-size: 2em;
  /* font-weight: lighter; */
  font-weight: normal;
  letter-spacing: 3px;
  margin: 0;
  padding: 6px;
  padding-left: 2em;
}
