.shirt {
  position: relative;
  width: 100%;
}

.shirt-preview {
  margin-top: 100px;
  height: 500px;
  width: 500px;
}

.shirt-overlay {
  position: absolute;
  margin-right: auto;
  margin-left: auto;
  top: 20px;
  width: 50%;
}

.shirt-preview-container {
  text-align: center;
}

.shirt-overlay-pocket {
  position: absolute;
  left: 250px;
  top: 100px;
  width: 100px;
}

.shirt-generating-mockups {
  color: #5C196B;
  padding-top: 200px;
  width: 500px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
}

.shirt-generating-loader {
  display: inline-block;
  margin-top: 24px;
  width: 64px;
  height: 64px;
}
.shirt-generating-loader:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #5C196B;
  border-color: #5C196B transparent #5C196B transparent;
  animation: shirt-generating-loader 1.2s linear infinite;
}
@keyframes shirt-generating-loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
