.shirt {
  position: relative;
  width: 100%;
}

.shirt-preview {
  /* margin-right: auto;
  margin-left: auto; */
  width: 500px;
}

.shirt-overlay {
  position: absolute;
  margin-right: auto;
  margin-left: auto;
  top: 20px;
  width: 50%;
}

.shirt-overlay-pocket {
  position: absolute;
  left: 250px;
  top: 100px;
  width: 100px;
}
